{% extends "base.html" %}
{% block nav %}
<ul class="navbar">
    <li><a id="nav1" href="{{ url_for('adminViewCustomers') }}">View Customers</a></li>
    <li><a id="nav2" href="{{ url_for('adminViewAccounts') }}">View Accounts</a></li>
    <li><a id="nav3" href="{{ url_for('adminViewHistory') }}">View Transaction History</a></li>
    <ul class="topnav-right">
        <li><a id="nav4" href="{{ url_for('adminLogout') }}">Logout</a></li>
    </ul>
</ul>
{% endblock %}

{% block body %}
{% endblock %}