{% extends "adminnavbar.html" %}
{% block body %}
<div class="text" style="color:black;">
    {% if msg %}
        {{ msg }}
    {% endif %}
</div>
            
{% if result %}
        <table border="1" style="border-collapse:collapse;">
            <tr>
                <th>Account Id</th>
                <th>Customer Id</th>
                <th>Password</th>
                <th>Account Type</th>
                <th>Account Balance</th>
                <th>Action</th>
            </tr>
            {% for row in result %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td><a href="{{ url_for('modifyAccount', account_no=row[0]) }}">Modify</a> <br>
                    <a href="{{ url_for('deleteAccount', account_no=row[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        No transactions done on this account
    {% endif %}
    
{% endblock %}