{% extends "base.html" %}
{% block body %}
<div class="login-container">
    <form action="" class="form-login" method="POST">
        <div class="text">Login</div>
        <ul class="login-nav">

        </ul>
        {{ form.hidden_tag() }}

        {{ form.username.label(class_="login__label") }}
        {{ form.username(class_="login__input") }}

        {{ form.password.label(class_="login__label") }}
        {{ form.password(class_="login__input") }}
        
        {{ form.submit(class_="login__submit") }}

    </form>
</div>

<script>
    var curr = document.getElementsByTagName("BODY")[0];
    curr.classList.add("backgroundimage");

</script>

{% if msg %}
    <script>
        alert("{{ msg }}");
    </script>
{% endif %}
{% endblock %}