<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>      
    {% block nav %}
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% if id %}

        <script>
            var ids = '{{ id }}';
            var t = ids.slice(6, -6);
            ids = t.split('&#39;, &#39;');
            for (i of ids){
                var curr = document.getElementById(i);
                curr.classList.add("navactive"); 
            }
            
        </script>
    {% endif %}
</body>
</html>