<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <ul>
        <li><a id="nav1" href="{{ url_for('home') }}">Home</a></li>
        <li><a id="nav2" href="{{ url_for('home') }}">Signup</a></li>
        <li><a id="nav3" href="{{ url_for('home') }}">Login</a></li>
        <li><a id="nav4" href="{{ url_for('home') }}">Accounts</a></li>
        <li><a id="nav5" href="{{ url_for('home') }}">New Account</a></li>
        <li><a id="nav6" href="{{ url_for('home') }}">Deposit</a></li>
        <li><a id="nav7" href="{{ url_for('home') }}">Withdraw</a></li>
    </ul>
    {% block body %}
    {% endblock %}
    {% if id %}
        <script>
            var curr = document.getElementById("{{ id }}");
            curr.classList.add("active");
        </script>
    {% endif %}
</body>
</html>