{% extends "base.html" %}
{% block nav %}
<ul class="navbar">
    <li><a id="nav1" href="{{ url_for('home') }}">Home</a></li>
    <ul class="topnav-right">
        <li><a id="nav2" href="{{ url_for('clearsession') }}">Logout</a></li>
    </ul>
    <div class="dropdown">
        <button id="nav3" class="dropbtn">Account(s) 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content navbar">
          <a id="nav4" href="#">New Account</a>
          <a id="nav5" href="#">View Account(s)</a>
        </div>
    </div> 

    <div class="dropdown">
        <button id="nav6" class="dropbtn">Transaction 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content navbar">
          <a id="nav7" href="#">Make Transaction</a>
          <a id="nav8" href="#">Transaction History</a>
        </div>
    </div> 
    
    <li><a id="nav9" href="{{ url_for('home') }}">Deposit</a></li>
    <li><a id="nav10" href="{{ url_for('home') }}">Withdraw</a></li>

    
</ul>
{% endblock %}

{% block body %}
{% endblock %}

