{% extends "base.html" %}
{% block body %}
    <div class="login-container">
        <form action="" class="form-login" method="POST">
            <ul class="login-nav">
                <li class="login-nav__item">
                    <a href="{{ url_for('login') }}">Log In</a>
                </li>
                <li class="login-nav__item active">
                    <a href="{{ url_for('signup') }}">Sign Up</a>
                </li>
            </ul>
            {{ form.hidden_tag() }}
            {{ form.username.label(class_="login__label") }}
            {{ form.username(class_="login__input") }}
            {{ form.password.label(class_="login__label") }}
            {{ form.password(class_="login__input") }}
            {{ form.first_name.label(class_="login__label") }}
            {{ form.first_name(class_="login__input") }}
            {{ form.last_name.label(class_="login__label") }}
            {{ form.last_name(class_="login__input") }}
            {{ form.address.label(class_="login__label") }}
            {{ form.address(class_="login__input") }}
            {{ form.mobile_number.label(class_="login__label") }}
            {{ form.mobile_number(class_="login__input") }}
            {{ form.submit(class_="login__submit") }}
        </form>
    </div>

    <script>
        var curr = document.getElementsByTagName("BODY")[0];
        curr.classList.add("backgroundimage");

    </script>
    
    {% if msg %}
        <script>
            alert("{{ msg }}");
        </script>
    {% endif %}
{% endblock %}