{% extends "navbar.html" %}
{% block body %}
{% if result %}
        <table border="1" style="border-collapse:collapse;">
            <tr>
                <th>Transaction Id</th>
                <th>Account</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Transaction Time</th>
            </tr>
            {% for row in result %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        No transactions done on this account
    {% endif %}
{% endblock %}